# Node.js specific files and directories
node_modules/
npm-debug.log*
yarn-error.log*
yarn-integrity
.pnp
.pnp.js

# Development tools and IDEs
.vscode/
.idea/
*.code-workspace

# Build artifacts
dist/
build/
out/

# Test results
coverage/
test-results/

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Miscellaneous
*.log
*.swp
*.lock
*.DS_Store
Thumbs.db