html {
  height: 100%;
  font-size: 10px;
  /* 设置背景图片，底部居中，不重复 */
  background: url("./background.jpg") bottom center no-repeat;
  /* 背景图片铺满整个页面 */
  background-size: cover;
}

.keys {
  /* 使用 flex 布局 */
  display: flex;
  /* 填充整个页面 */
  flex: 1;
  /* 高度为 100vh，即整个视口的高度 */
  height: 100vh;
  /* 垂直居中 */
  align-items: center;
  /* 水平居中 */
  justify-content: center;
}

.key {
  /* 边框为 4px 宽的白色实线 */
  border: 4px solid white;
  /* 圆角半径为 5px */
  border-radius: 5px;
  /* 外边距为 10px */
  margin: 10px;
  /* 字体大小为 15px */
  font-size: 15px;
  /* 内边距为 10px 5px */
  padding: 10px 5px;
  /* 宽度为 100px */
  width: 100px;
  /* 文字颜色为白色 */
  color: white;
  /* 背景颜色为 rgba(0,0,0,0.4) */
  background: rgba(0, 0, 0, 0.4);
  /* 阴影为 0 0 5px 黑色 */
  box-shadow: 0 0 5px black;
  /* 文本居中对齐 */
  text-align: center;
}

.key div {
  /* 字体大小为 40px */
  font-size: 40px;
}

.key.sound {
  /* 字体大小为 12px */
  font-size: 12px;
  /* 文本转换为大写 */
  text-transform: uppercase;
  /* 字母间距为 1px */
  letter-spacing: 1px;
  /* 颜色为 #ffc600 */
  color: #ffc600;
}
